hr {
  margin-top: 0;
  margin-bottom: 25px;
}

.color-muted {
  color: #adadad;
}

.history {
  margin-bottom: 15px;

  .set {
    padding: 2px 4px;
    border-radius: 5px;    
  }
}

$colors-list:
  #1395BA
  #117899
  #0f5b78
  #0d3c55
  #c02e1d
  #d94e1f
  #f16c20
  #ef8b2c
  #ecaa38
  #ebc844
  #a2b86c
  #5ca793
  ;
@each $color in $colors-list {
  $i: index($colors-list, $color) - 1;
  .bg-color-#{$i} { 
    background-color: $color;
  }
  .bg-color-#{$i}-muted {
    background-color: ($color * 1 + #ffffff * 3) / 4;
  }
  .color-#{$i} { 
    color: $color;
  }
  .color-#{$i}-muted {
    color: ($color * 1 + #ffffff * 3) / 4;
  }
}

$max-scatter: 16;
$blue: #1363F0; // as start
$red: #F74C3C; // as end
@for $i from 0 through $max-scatter {
  $color: ($blue * ($max-scatter - $i) + $red * $i) / $max-scatter;
  .bg-color-br-#{$i} {
    background-color: $color;
  }
  .bg-color-br-#{$i}-muted {
    background-color: ($color * 1 + #ffffff * 3) / 4;
  }
  .color-br-#{$i} { 
    color: $color;
  }
  .color-br-#{$i}-muted {
    color: ($color * 1 + #ffffff * 3) / 4;
  }
}